<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<window>
	<id>4</id>
	<defaultcontrol>4</defaultcontrol>
	<allowoverlay>control.isvisible(13371337)</allowoverlay>
	<define>#header.label:5</define>
	<define>#header.background:hover_settings.png</define>
	<animation effect="fade" time="250" start="100" end="100">WindowClose</animation>
	<controls>
		<import>common.window.background.xml</import>
		<import>common.window.overlay.xml</import>
		<import>common.window.accessories.xml</import>
		<import>common.window.time.xml</import>
		<control>
			<type>group</type>
			<dimColor>ffffffff</dimColor>
			<animation effect="fade" time="150">WindowClose</animation>	
			<animation effect="slide" tween="circle" easing="out" time="200" start="-193,0" reversible="false">WindowOpen</animation>
			<animation effect="slide" tween="circle" easing="out" time="200" end="-193,0" reversible="false">WindowClose</animation>
			<control>
				<type>image</type>
				<id>0</id>
				<posX>0</posX>
				<posY>0</posY>
				<width>418</width>
				<height>720</height>
				<texture>bg_left.png</texture>
				<colorDiffuse>ffffffff</colorDiffuse>
			</control>
			<control>
				<id>0</id>
				<type>label</type>
				<posX>30</posX>
				<posY>35</posY>
				<label>#header.label</label>
				<font>font24</font>
				<align>left</align>
				<textcolor>ffffffff</textcolor>
			</control>
			<control>
				<type>image</type>
				<id>0</id>
				<posX>0</posX>
				<posY>47</posY>
				<width>385</width>
				<height>53</height>
				<texture>bg_button_nofocus.png</texture>
			</control>
			<control>
				<type>group</type>
				<layout>StackLayout</layout>
				<posX>0</posX>
				<posY>100</posY>
				<control>
					<description>Wizard</description>
					<type>button</type>
					<id>3</id>
					<label>1200</label>
					<hyperlink>615</hyperlink>
					<onup>17</onup>
				</control>
				<control>
					<description>General</description>
					<type>button</type>
					<id>4</id>
					<label>128</label>
					<hyperlink>705</hyperlink>
				</control>
				<control>
					<description>Screen</description>
					<type>button</type>
					<id>5</id>
					<label>6023</label>
					<hyperlink>9</hyperlink>
				</control>
				<control>
					<description>TV</description>
					<type>button</type>
					<id>10</id>
					<label>605</label>
					<hyperlink>700</hyperlink>
				</control>
				<control>
					<description>My Pictures</description>
					<type>button</type>
					<id>7</id>
					<label>1</label>
					<hyperlink>12</hyperlink>
				</control>
				<control>
					<description>Movies</description>
					<type>button</type>
					<id>8</id>
					<label>3</label>
					<hyperlink>703</hyperlink>
				</control>
				<control>
					<description>My DVD</description>
					<type>button</type>
					<id>9</id>
					<label>1027</label>
					<hyperlink>704</hyperlink>
				</control>
				<control>
					<description>My Music</description>
					<type>button</type>
					<id>6</id>
					<label>2</label>
					<hyperlink>14</hyperlink>
				</control>
				<control>
					<description>MiniDisplay</description>
					<type>button</type>
					<id>11</id>
					<label>9100</label>
					<hyperlink>9000</hyperlink>
					<ondown>99</ondown>
				</control>
			</control>
		</control>
	</controls>
</window>